/* CSS Document */


/* 
##############################
Fonts
##############################

font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans Caption', sans-serif;
*/

body {
    font-size: 100%;
}

.fullHeight {
    height: 72vh;
}

h1 {
    font-size: 7em;
    font-family: 'PT Sans Caption', sans-serif;
}

h2 {
    font-size: 5em;
    font-family: 'PT Sans Caption', sans-serif;
}

h3 {
    font-size: 4em;
    font-family: 'PT Sans Caption', sans-serif;
}

h4 {
    font-size: 2em;
    font-family: 'PT Sans Caption', sans-serif;
}

p,
ol li {
    font-size: 2em;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
}

.fa {
    padding-bottom: 20px;
    color: RGB(207, 0, 88);
}


/* 
##############################
Tags
##############################
*/

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

header {
    text-align: center;
}

nav {
    top: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

nav a {
    padding-left: 20px;
    padding-right: 20px;
}

main ul {
    margin: 0;
    padding-left: 0;
}

main ul li {
    list-style: none;
    padding: 20px;
    padding-left: 10%;
    margin-bottom: 20px;
    vertical-align: middle;
}

.menu li {
    border-bottom: 5px white solid;
}

.topMarZero {
    margin-top: 0;
    margin-bottom: 20px;
}

ul a {
    color: #fff;
    text-decoration: none;
}

main form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: RGB(50, 51, 49);
    height: 150px;
    padding: 30px 5% 20px 5%;
}

footer img {
    height: 150px;
}

form {
    font-size: 4.5em;
    text-align: center;
}

label {
    margin-top: 20px;
    height: 125px;
    padding: 0;
}

input {
    width: 100%;
    padding: 20px 0;
    height: 100px;
    background: RGBA(158, 158, 158, 0.5);
    font-size: 1em;
}

input[type=radio] {
    height: 50px;
    border-radius: 100%;
    background: RGBA(158, 158, 158, 0.5);
}

input[type=submit] {
    margin-top: 60px;
    font-size: 50px;
    color: grey;
    background: white;
    margin-bottom: 60px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    margin-top: 20px;
    font-style: italic;
    text-align: center;
    color: RGB(220, 220, 220);
}

textarea {
    height: 100px;
    margin: 20px 0;
    font-size: 1em;
    background: RGBA(158, 158, 158, 0.5);
    font-style: italic;
    text-align: center;
    color: RGB(220, 220, 220)
}


/* 
##############################
Classes 
##############################
*/

.magenta {
    /*Sort out the correct color between image and background color */
    background: RGB(207, 0, 88);
    color: white;
}

.white {
    background: white;
    color: RGB(207, 0, 88);
}

.cyan {
    background: RGB(0, 170, 255);
}

.siteName {
    font-size: 4em;
}

.pageTitle {
    margin: 10px;
}

.headimg {
    width: 100%;
    margin-top: -120px;
    z-index: 0;
}

.museumContent {
    color: grey;
    width: 80%;
    margin-left: 10%;
}

.museumHeaderText {
    background: RGB(0, 170, 255);
    color: white;
    text-align: center;
    margin-top: -230px;
    padding: 5px;
}

.subHeading {
    color: white;
    text-align: center;
    line-height: 160px;
    background-color: RGB(0, 170, 255);
    /*Fallback*/
    background: RGBA(0, 170, 255, 0.80);
}

.highlight {
    font-size: 3em;
    color: RGB(207, 0, 88);
    text-align: center;
}

.museumInfo {
    text-align: center;
}

.carousel {
    width: 100%;
}

.socialMedia i {
    padding: 10px;
}

.splashpage {
    min-height: 87vh;
}

.splashName {
    margin-top: 200px;
    text-align: center;
    visibility: hidden;
    animation: reveal;
    animation-duration: 100s;
    animation-delay: 5s;
}

.footAnimate {
    display: flex;
    justify-content: space-between;
    height: 150px;
    padding: 20px 5%;
    margin-top: -220px;
    visibility: hidden;
    animation: reveal;
    animation-duration: 100s;
    animation-delay: 5.5s;
}

.footAnimate img {
    height: 150px;
}

.navMuseum {
    position: relative;
}

.museumMenu li {
    filter: saturate(50%);
}


/* 
##############################
Museum Page background images
##############################
*/

.museumMenu li a {
    /*	text-align: center;*/
    background-color: RGB(179, 132, 68);
    text-shadow: 10px 5px 10px black;
}

.museumMenu li:nth-child(1) {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/07/25/86/51/gallery-of-modern-art.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.museumMenu li:nth-child(4) {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0b/86/f6/72/photo2jpg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.museumMenu li:nth-child(2) {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0e/e2/1a/f0/hunterian-museum.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.museumMenu li:nth-child(3) {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/0e/2e/d6/9b/photo0jpg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.museumMenu li:nth-child(5) {
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-s/08/d9/71/2b/the-riverside-museum.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


/* 
##############################
Activities Page
##############################
*/

#activities li:nth-child(1) {
    background: #E69D3C;
    /*	background: linear-gradient(to right, #E69D3C, #EB6936);*/
}

#activities li:nth-child(2) {
    background: #00C22B;
    /*	background: linear-gradient(to right, #00C22B, #1FD347);*/
}

#activities li:nth-child(3) {
    background: #299CE3;
    /*	background: linear-gradient(to right, #299CE3, #2D7ED3);*/
}

#activities li:nth-child(4) {
    background: #CEBE2F;
    /*	background: linear-gradient(to right, #CEBE2F, #A39516);*/
}

#activities li:nth-child(5) {
    background: #E42D4E;
    /*	background: linear-gradient(to right, #E42D4E, #984293);*/
}


/* 
##############################
SVG Splash Screen Animation
##############################
*/

.svgcontainer {
    margin-top: 260px;
}

svg {
    margin-left: 15px;
}

svg path {
    stroke-width: 11px;
}

@keyframes offset {
    to {
        stroke-dashoffset: 0;
    }
}

.innerLine,
.outerLine,
.river {
    animation: offset 10s linear forwards;
}

.outerLine {
    stroke: orange;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    animation-delay: 0.25s;
}

.innerLine {
    stroke: grey;
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    animation-delay: 2s;
}

.river {
    stroke-dasharray: 2000px;
    stroke-dashoffset: 2000px;
    animation-delay: 3.5s;
}

circle {
    visibility: hidden;
    animation: reveal;
    animation-duration: 100s;
    animation-delay: 4.5s;
}

@keyframes reveal {
    0% {
        visibility: hidden
    }
    100% {
        visibility: visible
    }
}


/*Hidden menu*/

.hidNAV