<section class="purchase-container">
    <div class="placeholder flex-row ">
        <div>
            <h2 class="large center">GetMedia Checkout</h2>

            <h3 class="center">Review the items in your cart</h3>
            <h3 class="center">Then complete your purchase</h3>
        </div>
    </div>
    <div class="purchase-shoppingcart-wrapper">
        <header class="shoppingCart-header">
            <h3>Purchase Summary</h3>
            <button class="purchase-btn-clearCart" data-ng-click="clearCart()">empty</button>
        </header>

        <div class="purchase-shoppingCart-main">
            <div class="shoppingCart-itemRow" data-ng-repeat="items in cart">
                <div class="shoppingCart-text-container">
                    <p class="shoppingCart-text">{{items.song}}</p>
                    <p class="shoppingCart-text txt-highlight">{{items.price | currency: '£'}}</p>
                </div>
                <button class="btn-removeItem" data-ng-click="removeItem($index)">X</button>

            </div>
            <div class="shoppingCart-cost-wrapper">
                <p>Items</p>
                <h3 class="txt-highlight">{{itemsInCart}}</h3>

                <h3>Total Cost</h3>
                <h3 class="txt-highlight">{{getTotal()| currency: '£'}}</h3>
            </div>
            <footer class="shoppingCart-footer">

            </footer>
        </div>
    </div>
    <section>
        <h3 data-ng-hide="theEnvelope" class="center">Enter your details and confirm your purchase</h3>
        <hr>
    </section>
    <div class="purchase-form-container flex-row">
        <section >
            <div class="purchaseEnvelope" data-ng-hide="theEnvelope">
                <img class="purchaseEnvelope-stamp" src="images/stamp.png" alt="postage stamp"> 
                <div class="purchaseEnvelope-text">
                    <div class="">
                        <h3>{{purchaseFirstName + " "+purchaseSecondName}}</h3>
                        
                    </div>
                    <h3 class="">{{purchaseAddress}}</h3>
                    <h3 class="">{{purchaseCity}}</h3>
                    
                    <h3 class="">{{purchasePostCode}}</h3>
                </div>
                <h3 class="purchaseEnvelope-text__email">{{purchaseEmail}}</h3>
            </div>
        </section>
        <form class="purchaseForm" name="purchaseForm" id="purchaseForm" data-ng-hide="theEnvelope">

            <div class="flex-row space-between">
                <fieldset>
                    <h3>first name</h3>
                    <input required data-ng-model="purchaseFirstName" id="purchaseForm-FirstName" class="button input-search"
                        type="text" name="firstName" placeholder="First Name">
                    <h3>surame name</h3>
                    
                    <input required data-ng-model="purchaseSecondName" class="button input-search" type="text" name="lastName" placeholder="Surname Name">
                    <h3>email</h3>
                    <input required data-ng-model="purchaseEmail" class="button input-search" type="text" name="email" placeholder="Email">
                </fieldset>
                <fieldset>
                    <h3>Street Address</h3>
                    <input required data-ng-model="purchaseAddress" class="button input-search" type="text" name="streetAddress" placeholder="Street Address">
                    <h3>City</h3>
                    <input required data-ng-model="purchaseCity" class="button input-search" type="text" name="city" placeholder="City">
                    <h3>Postal Code</h3>
                    <input required data-ng-model="purchasePostCode" class="button input-search" type="text" name="PostCode" placeholder="Post Code">
                </fieldset>
            </div>
            <button data-ng-click="purchaseForm.$valid && showEnvelope(true)"  class="button btn-fullWidth">Confirm Purchase</button>
        </form>
        <div data-ng-show="theEnvelope" class="center thanks">
            <h3>thanks you {{purchaseFirstName + " " + purchaseSecondName}}</h3>
            <h3>an email has been sent to {{purchaseEmail}} with your download link</h3>
        </div>
    </div>    
</section>