<section class="instructions">
    <div class="placeholder flex-row ">
        <div>
            <h2 class="large center">GetMedia Search </h2>
            <h3 class="center">Search for your favourite music and movies</h3>
            <h3 class="center">Click on the image to play a preview or buy to add to cart</h3>
        </div>
    </div>  
</section>
<div class="flex-row space-between">
   

    <!-- start of results contatiner -->
    <section class="searchResults-container">
        <header class="searchResultsHeader">
            <h2>Search Results</h2>
            <h2 class="txt-highlight">{{artist}}</h2>
        </header>
        <!-- start of results output div -->
        <div id="searchResultsOutputDiv" class="searchResultsOutput-Div" data-ng-show="songs">


            <!-- start of each search results  -->
            <div class="searchResult" data-ng-repeat="song in songs | orderBy:arrange">



                <div class="searchResultArtistImgtWrapper">

                    <img data-ng-click="playSong(song.previewUrl)" data-ng-src="{{song.artworkUrl100}}" alt="{{song.collectionName}}">
                </div>
                <div class="searchResultArtistTextWrapper">
                    <p data-ng-show="song.trackName" class="searchResults-track">{{song.trackName}}</p>
                    <p data-ng-show="song.collectionName" class="searchResults-album">{{song.collectionName}}</p>
                    <p data-ng-show="song.artistName" class="searchResults-Artist">{{song.artistName}}</p>
                    <p data-ng-show="song.kind" class="searchResults-Title">{{song.kind}}</p>

                </div>
                <button data-ng-click="addItem($event,song.collectionPrice, song.trackName)" class="button price">Buy
                    <br>{{song.trackPrice | currency: '£'}}</button>
            </div>

        </div>
    </section>
    <section class="searchField">
        <p>{{error}}</p>
        <form data-ng-show="searchButton" name="search" data-ng-submit="searchiTunes(artist,type)" class="">
                
                <header class="shoppingCart-header">
                        <h3>search for</h3>
                        <!-- <button class="btn-clearCart" data-ng-click="clearCart()">empty</button>
                        <button class="btn-closeCart" data-ng-click="showCart(true)">close</button> -->
                        <button class="btn-removeItem-closeSearch " data-ng-click="searchButton = !searchButton">X</button>
                    </header>
            <!-- <div class="no-wrap"> -->
                
                <input class="button input-search" type="text" required placeholder="search" data-ng-model="artist" />

                <!-- <button class="button btn-submit" type="submit">&#xf002;</button> -->
            <!-- </div> -->
            <h3>in</h3>
            <div class="threeBtnWrap">
                <button class="button displayBtn" type="submit" data-ng-click="type = 'song'">songs</button>
                <button class="button displayBtn" type="submit" data-ng-click="type = 'album'">albums</button>
                <button class="button displayBtn" type="submit" data-ng-click="type = 'movie'">movies</button>
            </div>
            <h3>or</h3>
            <button class="button" type="submit" data-ng-click="type = ''">search all</button>
            <h3>arrange by</h3>

            <select class="button select">
                <option value="value1" data-ng-click="arrange = 'artistName'">artist a - z</option>
                <option value="value1" data-ng-click="arrange = '!artistName'">artist z - a</option>
                <option value="value2" data-ng-click="arrange = 'trackName'">track a - z</option>
                <option value="value3" data-ng-click="arrange = '!trackName'">track z - a</option>
                <option value="value4" data-ng-click="arrange = 'trackPrice'">price low - high</option>
                <option value="value4" data-ng-click="arrange = '!trackPrice'">price high - low</option>
                <!--                sets order by -->
            </select>
        </form>
        <div>
            <h3 class="button hideSearch" data-ng-click="searchButton = !searchButton">search</h3>
        </div>
    </section>
</div>