@charset "utf-8";

/* CSS Document */

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
    text-align: center;
}

h3 {
    font-size: 20px;

}

h4 {
    font-size: 20px;

}

header.main {
    background-color: #002642;
    padding: 20px;
    color: white;
    text-align: center;
    display: block;
    justify-content: space-around;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #338ec5;
    color: #002642;
    font-family: 'Roboto', sans-serif;
}

form{
    width: 320px;
}

#fixedbutton {
    position: fixed;
    top: 0px;
    left:20px;
}

#fixedbutton a {
    text-decoration: none;
    color: white;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#pupilcontainter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

#pupilcontainter p, #pupilcontainter h2, #pupilcontainter h3 {
    text-align: left;
    padding: 0 30px;
}


#traingleCalc, #playquiz, #Maths {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    width: 320px;
    margin: 20px;
    text-align: center;
    background-color: white;
}

#register {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin:auto;
}

#regInputbox2{
    padding-left: 20px;
}

main {
    display: flex;
    flex-direction: column;
   align-content: center;
}

aside {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content:space-between;
    padding-top: 20px;
    width: 200px;
}

aside h3 {
    text-decoration: underline;
}

table {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background-color: beige;
    width: 640px;
    
}

th {
    width: 150px;
}


caption{
    background-color: #002642;
    padding: 20px;
    color: white;
    text-align: center;
    
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.buttonRed {
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.button:hover {
    background-color: #af4cab;
}

.buttonRed:hover {
    background-color: #4CAF50;
}

.inputBox:hover, .login:hover {
    color: white;
    background-color: #af4cab;
}

.inputBox, .login {
    background-color: #6CB1E5;
    border: none;
    color: #af4cab;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 10px ;
    width: 300px;

    font-kerning: 1.2em;
}


#profile,
#bookContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reveal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#bookContainer {
    width: 80%;
}

#profile {
    padding-top: 20px;
}



#Calculator {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    justify-content: space-around;
}

.profile {
    text-align: center;
}

.book {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 375px;
    text-align: center;
    margin: 20px;
}

.book img {
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.bookinfo {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: center;
    width: 170px;
    text-align: left;
}





::-webkit-input-placeholder { /* Chrome */
  color: lightgray;
  transition: opacity 250ms ease-in-out;
}