@charset "utf-8";

/*
------------------------------------------------------------
						Media queries 						Section
------------------------------------------------------------
*/


/* Smartphones (portrait and landscape) ----------- */

@media only screen and (max-width: 900px) {
    /* Styles */
    html {
        margin: auto;
        width: 95%;
    }
    fieldset,
    .searchField,
    .voucher-wrapper,
    .purchaseForm,
    .contactForm,
    .searchResults-container,
    .searchResultArtistImgtWrapper,
    .searchResultArtistTextWrapper,.splash-wrapper {
        width: 100%;
    }

    .splash-wrapper svg{

        height: 200px;
    }
    .responsiveMenu {
        display: block;
        position: fixed;
        top: 8px;
        left: 15px;
        cursor: pointer;
        background: #fff;
        padding: 15px;
/*        border-radius: 50%;*/
/*        box-shadow: 0px 10px 20px RGBA(69, 69, 69, 0.50);*/
        z-index: 3;
    }
    .shoppingCart-Icon {
        padding: 15px;
/*        border-radius: 50%;*/
        background: #fff;
        top: 5px;
        right: 15px;
/*        box-shadow: 0px 10px 20px RGBA(69, 69, 69, 0.50)*/
    }
    .top-navBar {
        display: none;
    }
    .searchResultsHeader {
        flex-direction: column;
    }
    .searchResult {
        flex-direction: column;
        border: none;
        width: 95%;
        margin: 20px 0 0 10px;
        box-shadow: 0px 10px 20px RGBA(69, 69, 69, 0.50)
    }
    .searchResult img {
        width: 50%;
        margin-left: 25%;
        padding: 10px 0;
    }
    .searchResultArtistTextWrapper {
        text-align: center;
        border: none;
        /* border-top: 1px solid #4A4A4A;
        border-bottom: 1px solid #4A4A4A; */
        padding: 5px;
    }
    .price {
        width: 100%;
        text-align: center;
        background: #D0021B;
        color: #fff;
    }
    .price:hover {
        border-top: 1px solid #D0021B;
    }
    .shoppingCart-wrapper {
        width: 80%;
        top:90px;
    }
    .purchaseEnvelope {
        display: none;
    }
    .searchField {
        position: fixed;
        bottom: 0px;
		left: 0px;
        background: RGBA(74, 74, 74, 0.95);
        color: #fff;
    }
    i {
        transform: scale(0.75);
    }
    .hideSearch {
        background: #D0021B;
        color: #fff;
    }
    .btn-removeItem-closeSearch {
        display: block;
        position: absolute;
        top: -5%;
        right: 5%;
        width: 40px;
        height: 40px;
        background: #D0021B;
        color: white;
    }
    /* 
shopping cart display and removal animation
*/
    .shoppingCart-wrapper.ng-hide {
        transform: rotate(0deg);
        transform: translateX(100%);
        opacity: 0;
    }
    .top-navBar-responsive.ng-hide {
        transform: rotate(0deg);
        transform: translateX(-100%);
        opacity: 0;
    }
    .top-navBar-responsive {
        display: block;
    }
    .top-navBar__ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .voucherPrice-tag{
        display: none;
    }
    
    .purchase-btn-clearCart{
        left:150px;
    }

    }