@charset "utf-8";

/* CSS Document */


/* CSS reset to #D0021Buce inconsistencies across browsers */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #4A4A4A;
}

html {
	width: 80%;
	margin: 0 10%;
	font-size: 150%;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	color: #4A4A4A;
}

section {
	margin-top: 30px;
}

fieldset {
	width: 40%;
	margin: 0 1%;
}

/* textarea
{
  width:100%;
  height: 100px
} */


.indexFooter {
	height: 100px;
}


/*
-----------------------------
text styles
-----------------------------
*/


/*
Montserrat
font-family: 'Montserrat', sans-serif;
font-weight: 200;

Raleway
font-family: 'Raleway', sans-serif;
font-weight: 300;

*/

.large {
	font-size: 3rem;
	margin: 1rem;
}

.smaller {
	font-size: 1rem;
	margin: 1rem;
}

.txt-highlight {
	color: #D0021B;
	font-size: 1.2rem;
}

.center {
	text-align: center;
}


/*
-----------------------------
flex classes - used as override
-----------------------------
*/

.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.no-wrap {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.space-between {
	justify-content: space-between;
}


/*
-----------------------------
main navigation bar
-----------------------------
*/

.top-navBar {
	position: fixed;
	top: 0;
	right: 9%;
	width: 82%;
	background: #fff;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-bottom: 30px;
	border-bottom: 1px solid #4A4A4A;
}

.top-navBar__ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.top-navBar__li {
	padding-left: 5px;
	line-height: 2.5rem;
}

.top-navBar__a {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	padding: 1rem;
}

.top-navBar__a:hover {
	background: #4A4A4A;
	color: white;
	box-shadow: 0 10px 20px RGBA(69, 69, 69, 0.50);
}

.responsiveMenu{
	display: none;
}

.top-navBar-responsive{
	display: none;
	position: fixed;
	text-align: center;
	top: 90px;
	width: 95%;
	margin: 0;
	background: #fff;
	border: 5px solid #4A4A4A;
	box-shadow: 0px 10px 20px RGBA(69, 69, 69, 0.50);
	transition: 0.2s linear all;
	transform-origin: 100% 0;
}

/* 
-----------------------------
placeholder - top of each page where text is
-----------------------------
*/

.placeholder {
	padding: 60px 0 30px;
	width: 100%;
	border-bottom: 1px solid #4A4A4A;
	margin: 0 0 30px;
}

.placeholder h3 {
	margin: 15px 0;
}


/* 
-----------------------------
Shopping Cart + Notification - In Nav Bar
-----------------------------
*/

.shoppingCart-Icon {
	position: fixed;
	top: 25px;
	right: 60px;
	cursor: pointer;
}

.notifierCircle {
	position: fixed;
	color: #D0021B;
	top: 10px;
	right: 40px;
}

.notifierCircle-Txt {
	color: #fff;
	position: fixed;
	top: 22px;
	right: 52px;
	text-align: center;
}


/*
-----------------------------
Shopping Cart - pop out
-----------------------------
*/

.shoppingCart-wrapper {
	position: fixed;
	top: 60px;
	right: 9%;
	width: 400px;
	background: #fff;
	border: 5px solid #4A4A4A;
	box-shadow: 0px 10px 20px RGBA(69, 69, 69, 0.50);
	transition: 0.2s linear all;
	transform-origin: 100% 0;
}

.shoppingCart-header {
	background: #4A4A4A;
	height: 50px;
	color: #fff;
	width: 100%;
	text-align: center;
}

.shoppingCart-header h3,
.shoppingCart-footer a {
	color: #fff;
	line-height: 50px;
}

.shoppingCart-footer {
	border-top: 5px solid #4A4A4A;
	width: 100%;
	text-align: center;
}

.shoppingCart-footer a {
	color: RGBA(114, 114, 114, 1.00);
	line-height: 50px;
}

.shoppingCart-footer a:hover,
.shoppingCart-footer:hover {
	background: #D0021B;
	color: white;
}

.shoppingCart-main {
	font-size: 0.9rem;
	overflow: scroll;
	max-height: 400px;
}

.purchase-shoppingCart-main {
	font-size: 0.9rem;
}

.shoppingCart-cost-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	border-top: 5px solid #4A4A4A;
	padding: 10px 20px;
}

.shoppingCart-itemRow {
	min-height: 80px;
	width: 100%;
	margin: 10px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	box-shadow: 0px 5px 10px RGBA(69, 69, 69, 0.10)
}

.shoppingCart-text {
	margin: 15px;
}

.btn-removeItem, .btn-removeItem-closeSearch {
	position: relative;
	top: 5px;
	right: 15px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	/* background: #D0021B; */
	background: #fff;
	
	/* color: white; */
	color: #D0021B;
	border: 2px #D0021B solid;
	cursor: pointer;
	box-shadow: -5px 5px 10px RGBA(69, 69, 69, 0.20)
}

.btn-clearCart {
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	top: 5px;
	left: 5px;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border: 1px #fff solid;
	background: #4A4A4A;
	color: white;
	cursor: pointer;
}

.btn-closeCart {
	position: absolute;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	top: 5px;
	right: 5px;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border: 1px #fff solid;
	background: #4A4A4A;
	color: white;
	cursor: pointer;
}

.btn-closeCart:hover,
.btn-clearCart:hover,
.purchase-btn-clearCart:hover {
	color: #4A4A4A;
	background: #fff;
}

.btn-removeItem:hover {
	background: #D0021B;
	color: white;
	box-shadow: -5px 5px 10px RGBA(69, 69, 69, 0.90)
}


/*
-----------------------------
Splash Screen
-----------------------------
*/

.splash-wrapper {
	margin-top: 60px;
	padding: 50px 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	width: 50%;
}


/* 
-----------------------------
Search Page
-----------------------------
*/

.instructions {
	width: 100%;
}

.searchField {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width:30%;
	box-sizing: border-box;
	text-align: center;
}

.searchResults-container {
	width: 65%;
}

.searchResult:hover{
	box-shadow: -5px 5px 10px RGBA(69, 69, 69, 0.90);
}

.searchResultsHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #4A4A4A;
	margin-bottom: 30px;
}

.searchResultsHeader h2 {
	margin: 0 0 30px 0;
}

.searchResultsOutput-Div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.searchResult {
	display: flex;
	flex-direction: row;
	/* flex-wrap: nowrap; */
	justify-content: space-between;
	width: 100%;
	margin: 10px 0;
	border: 1px solid #4A4A4A;
}

.searchResult img {
	width: 100%;
}

.searchResultArtistTextWrapper{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	margin: 0;
	padding-right: 20px;
	text-align: right;
	border-left: 1px solid #4A4A4A;
	border-right:1px solid #4A4A4A;
}

.searchResults-Artist{
	color: #D0021B;
}

.searchResults-album, .searchResults-Title{
	color: #8f8f8f;
}

.btn-removeItem-closeSearch {
	
	display: none;
}


/* 
-----------------------------
voucher Page
-----------------------------
 */

.voucher-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.voucher-wrapper {
	display: flex;
	flex-direction: column;
	width: 30%;
	margin: 0;
	text-align: center;
}

.voucher-wrapper img {
	width: 100%;
}

.voucherCard-front {
	/* background: RGBA(114, 114, 114, 1.00);*/
	color: #fff;
	width: 100%;
}

.voucherPrice-tag {
	position: relative;
	top: -20%;
	left:30%;

	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 150%;
}

.voucherCard-footer {
	width: 100%;
}


/*
-----------------------------
purchase Page
-----------------------------
*/

.purchaseForm,
.contactForm {
	margin: auto;
	width: 40%;
}

.purchaseForm h3 {
	margin: 15px 0;
}

.purchase-btn-clearCart {
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	top: -43px;
	right: -45%;
	width: 80px;
	height: 40px;
	border-radius: 5px;
	border: 1px #fff solid;
	background: #4A4A4A;
	color: white;
	cursor: pointer;
}

.purchaseEnvelope {
	margin: 25px auto;
	width: 450px;
	height: 295px;
	border: 1px solid #4A4A4A;
	box-shadow: 0px 5px 5px RGBA(69, 69, 69, 0.10);
}

.purchaseEnvelope-stamp {
	position: relative;
	top: 10px;
	left: 365px;
}

.purchaseEnvelope-text{
	margin: 0 25%;
}
.purchaseEnvelope-text h3{
	margin: 15px 0;
}

.purchaseEnvelope-text__email{
	position: relative;
	top:0px;
	right:10px;
	text-align: right;
}

.thanks {
	border: 10px dashed #E4207D;
	padding: 60px;
	margin: 30px 0;
	width: 100%;
}

.thanks h3 {
	margin: 15px 0;
}


/*
-----------------------------
contact Page
-----------------------------
*/

.contactForm h3 {
	margin: 0 0 15px;
}


/*
-----------------------------
inputs
-----------------------------
*/

.button {
	height: 50px;
	font-size: 1rem;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background: white;
	border: 1px solid #4A4A4A;
	margin: 15px 0 20px;
	border-radius: 0;
	box-shadow: 0px 5px 5px RGBA(69, 69, 69, 0.10);
	transition: all 0.2s linear;
	width: 100%;
}

.button:hover {
	background: #D0021B;
	box-shadow: 0px 10px 10px RGBA(69, 69, 69, 0.30);
	color: #fff;
}

.button:active {
	background: rgb(255, 0, 34);
	box-shadow: 0px 20px 20px RGBA(69, 69, 69, 0.90);
}

.btn-select:active{
	transform: scale(1);
}

textarea {
	margin: 0 0 20px;
	box-shadow: 0px 5px 5px RGBA(69, 69, 69, 0.10);
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	background: white;
	border: 1px solid #4A4A4A;
	resize: none;
	font-size: 1rem;
	width: 100%;
	height: 137px;
	padding: 10px;
}

.enterBtn {
	width: 100%;
	line-height: 50px;
}

/* .btn-submit {
	font-family: FontAwesome;
	width: 50px;
	height: 50px;
	margin-top: 0;
	border-left: none;
} */

.btn-submit:hover {
	background: #4A4A4A;
	color: white;
}

.threeBtnWrap {
	display: flex;
	flex-direction: row;
}

.displayBtn {
	width: 33%;
}

input[type=text],
input[type=email] {
	width: 100%;
	transition: background 1s ease-in-out;
}

input[type=textarea]{
	width: 98%;
	height: 150px;
}

input[type=text]:hover {
	background: white;
	color: #D0021B;
}

input[type=checkbox] {
	transform: scale(2);
	background: #D0021B;
	padding: 10px;
	margin: 10px;
	margin-top: 15px;
}

.input-search {
	height: 50px;
	border: 1px solid #4A4A4A;
	text-align: center;
	box-sizing: border-box;
	margin-top: 0;
	width: 100%;
}

.price {
	width: 10%;
	height: 100%;
	margin: 0;
	border: none;
	box-shadow: none;
	background: #D0021B;
	color: #fff;
}

.price:hover{
	background: #fff;
	color: #D0021B;
	
}

.btn-fullWidth {
	width: 100%;
}


/*
-----------------------------
SVG + SVG Animation on index Page
-----------------------------
*/

.svg-Wrapper svg {
	width: 50%;
}

.mic_base {
	stroke: #4A4A4A;
	stroke-dasharray: 1200px;
	stroke-dashoffset: 1200px;
	animation: offset 1s ease-in-out forwards;
	fill: none;
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

.body-bar {
	stroke: #4A4A4A;
	stroke-dasharray: 1200px;
	stroke-dashoffset: 1200px;
	animation: offset 1s ease-in-out forwards;
	animation-delay: 0.2s;
	fill: none;
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

.body-mic {
	stroke: #4A4A4A;
	stroke-dasharray: 2000px;
	stroke-dashoffset: 2000px;
	animation: offset 1.5s ease-in-out forwards;
	animation-delay: 0.7s;
	fill: none;
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

.mic_slots {
	stroke: #4A4A4A;
	stroke-dasharray: 5000px;
	stroke-dashoffset: 5000px;
	animation: offset 1s ease-in-out forwards;
	animation-delay: 1.0s;
	fill: none;
	stroke-width: 2px;
	stroke-miterlimit: 10;
}

@keyframes offset {
	to {
		stroke-dashoffset: 0;
	}
}


/*
-----------------------------
Angular Animations
-----------------------------
*/


/* 
transition between views animation
*/


/* The starting CSS styles for the enter animation */

.mainView.ng-enter {
	transition: 0.3s linear all;
	transform: translateY(-100vh);
	opacity: 0;
}


/* The finishing CSS styles for the enter animation */

.mainView.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateY(0vh);
}


/* 
shopping cart display and removal animation
*/

.shoppingCart-wrapper.ng-hide {
	transform: rotate(-90deg);
	opacity: 0;
}


/* 
shopping cart item adition animation
*/

.shoppingCart-itemRow.ng-enter {
	transition: 0.2s linear all;
	opacity: 0;
	transform: translateY(-100%);
}

.shoppingCart-itemRow.ng-enter.ng-enter-active {
	opacity: 1;
	transform: translateY(0);
}


/* 
shopping cart item removal animation
*/

.shoppingCart-itemRow.ng-leave {
	transition: 0.2s linear all;
	opacity: 1;
	transform: translateX(0);
}

.shoppingCart-itemRow.ng-leave.ng-leave-active {
	opacity: 0;
	transform: translateX(100%);
}

.shoppingCart-itemRow.ng-leave-stagger {
	transition-delay: 0.1s;
	animation-delay: 0.1s;
}


/* 
ng-repeat - search results animation 
*/

.searchResult.ng-enter {
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	opacity: 0;
}

.searchResult.ng-enter.ng-enter-active {
	opacity: 1;
}


/* stagger sets theanimation on each ng-repeat element to set off once the other has finished */

.searchResult.ng-enter-stagger {
	transition-delay: 0.1s;
	animation-delay: 0.1s;
}


/* 
- animation for when purchase form is valid 
- envelope leaves page in a woooshing effect
- transformX and height
*/

.purchaseEnvelope.ng-hide {
	transition: 0.3s ease-in all;
	opacity: 0;
	transform: translateX(-100%) rotate(10deg);
}

.purchaseForm.ng-hide {
	transition: 0.3s ease-in all;
	opacity: 0;
	transform: translateX(100%) rotate(-10deg);
}